  .container {
  position: relative;
  width: 2000%;
  max-width: 150000px;
  margin: 0 0;
  padding: 0 0px;
  box-sizing: border-box; }
  .column,
  .columns {
    margin-left: 0%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .forty.columns                  { width: 350px; padding: 5 5 5 5px;}